.trip-management {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.table-custom tr:hover {
  background-color: rgba(255, 255, 255, 0.02) !important;
}

.icon-btn.success {
  background-color: rgba(46, 204, 113, 0.1);
  border: 1px solid rgba(46, 204, 113, 0.2);
}

.icon-btn.success:hover {
  background-color: rgba(46, 204, 113, 0.25);
}

.icon-btn.danger {
  background-color: rgba(231, 76, 60, 0.1);
  border: 1px solid rgba(231, 76, 60, 0.2);
}

.icon-btn.danger:hover {
  background-color: rgba(231, 76, 60, 0.25);
}
